.footer {
  display: flex;
  justify-content: space-around;
  padding: var(--space-small);
}

.tagButton {
  margin: 0 var(--space-x-small);
}

.stopButton {
  background-color: var(--red400);
  color: var(--white);
  margin-right: var(--space-small);
}

.locateButton {
  background-color: var(--blue400);
  color: var(--white);
}

.stickyNoteButton {
  background-color: var(--yellow400);
  color: var(--black);
  margin-left: var(--space-small);
}